.do-info {
  .app-modal {
    &__body {
      padding: 0;
    }
  }

  .app-tab {
    &-item {
      width: 655px;
      margin: auto;
      max-width: 100%;
      height: inherit;
      flex: unset;
      overflow-y: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
