:root {
  --app-color-primary: #258c60;
  --app-color-secondary: #0e0e0e;
  --app-color-muted: #999999;
  --app-color-text: var(--app-color-black);
  --app-color-error: #ea0005;
  --app-color-black: #1f1f1f;
}

body {
  font-family: "Apercu";
  font-style: normal;
  color: var(--app-color-text);
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
}

.h-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-subtitle {
  font-size: 14px;
}

.text-heading {
  font-size: 36px;
}

.text-subheading {
  font-size: 24px;
}

.text-title {
  font-size: 30px;
}

.text-body {
  font-size: 18px;
}

.icon {
  display: inline-block;

  svg {
    vertical-align: middle;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.primary {
  color: var(--app-color-primary);
  fill: currentColor;
}

.secondary {
  color: var(--app-color-secondary);
}

.muted {
  color: var(--app-color-muted);
}

.white {
  &--bg {
    background-color: #fff;
  }

  &--icon {
    svg {
      fill: #fff;
    }
  }
}

.justify-between {
  justify-content: space-between;
}

.text-underline {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-9 {
  margin-bottom: 36px;
}

.mt-9 {
  margin-top: 36px;
}

.font-normal {
  font-weight: normal;
}

.font-light {
  font-weight: 100;
}

.font-medium {
  font-weight: 500;
}

.mb-2 {
  margin-bottom: 8px;
}

.ma-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-4 {
  margin-right: 16px;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.px-10 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-11 {
  padding-top: 44px;
  padding-bottom: 44px;
}
