.app-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__tag--button {
    font-size: 18px;
    border: none;
    cursor: pointer;
  }

  &__size--small.app-button__tag--button {
    height: 40px;
    padding: 0 17px;
    line-height: 40px;
    width: 160px;
  }

  &:disabled {
    opacity: 0.15;
    cursor: not-allowed;
  }

  &__wrapper {
    display: flex;
  }

  &__size--big {
    height: 50px;
    padding: 0 27px;
  }

  &__primary {
    background-color: var(--app-color-primary);
    color: #fff;
    fill: currentColor;
  }

  &__secondary {
    background-color: transparent;
    color: var(--app-color-primary);
    border: 1px solid #dcd9d9;
    fill: currentColor;
  }

  &__primary,
  &__secondary {
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: var(--app-color-primary);
      fill: currentColor;
      background-color: #fff;
      outline: currentColor;
      border: 1px solid currentColor;
    }
  }

  &__icon {
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      border-radius: 50%;
      background-color: #dfdfdf;
    }

    &.app-button__size--small {
      outline: none;
      justify-content: center;
      width: 40px;
      padding: 0px;
    }
  }
}
